<%- include('../partials/header') %>
<body>
    <h1>Current Dev Skills as of <%= time %></h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <!-- accessing a single todo element and its id -->
            <a href="/skills/<%= s.id %>">
            <%= s.skill %>
          </a>
            <!-- -  -->
            <!-- <%= s.done ? 'Learning it!' : 'Getting around to it...' %> -->
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add a New Skill</a>
<%- include('../partials/footer') %>