<%- include('../partials/header') %>
<body>
    <h1><%= skill.skill %></h1>
    <h3><%= skill.done ? "I'm on it!" : "I'll get around to it..." %></h3>
    <a href="/skills">Go Back</a>
    <form action="/skills/<%= skill.skill %>?_method=DELETE" method="POST">
        <button type="submit">Delete From List</button>
    </form>
<%- include('../partials/footer') %>